{% extends 'users/main.html' %}

{% block content %}

<h3>User Profile</h3>
<div class="container">


    <div class="row">
        <h4> Role</h4>
    </div>    
    <div class="row">
        
        {% for user_role in user_roles%}
            <p>{{user_role.role}}</p>
        {% endfor %}
    </div>    

    <div class="row">
        <h4> Saved Address</h4>
    </div>    
    <div class="row">        
        <!--- User address-->
        <div class="card-columns">
        {% for address in saved_address %}
            <div class="card" style="max-width: 300px;">
                <div class="card border-dark mb-3" style="max-width: 300px;">
                    <div class="card-body text-dark">
                        <!-- <h5 class="card-title">Primary card title</h5> -->
                        <p class="card-text">{{address.building}},{{address.street_name}} </p>
                        <p class="card-text">{{address.city}},{{address.state}} </p>
                        <p class="card-text">{{address.pincode}}</p>
                    </div>
                </div>
            </div>      
        {% endfor %}
    </div>
</div>


{% endblock content %}